body {
  text-align: center;
  font-family: sans-serif;


}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 80%;
}

.title {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bolder;
}


.container{
    margin-top: 15%;
    border-radius: 15%;
    padding: 10px;

}

.clock-container{
  border: 2px solid black;
  padding: 25px;
}

.display-container {
  border: 1px solid grey;
  border-radius: 15px;
  font-family: monospace;
  padding: auto;
  margin-bottom: 15px;

}
.title{
  margin-bottom: 10%;
  font-size: 260%
}

#time-left {
  font-size: 300%;
}

#timer-label {
  color: black;
  font-size: 200%;
}

.one-left {
  color: red;
}

.btn {
  margin-left: 5px;
}

@media only screen and (min-width: 600px) {
  .container{
    width: 50%;
    margin-top: 5%;
  }

}
